@import url('https://fonts.cdnfonts.com/css/kollektif');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: "Kollektif", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.present{
  width: 99%;
  border: solid black;
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #00A0A6, #8C52FF );
  height: 150px;
}

.heading{
  font-weight: 700;
  font-size: 50px;
  color: white;
}

.projects{
  max-width: 580px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 100px;
}

.btn{
  text-transform: uppercase;
  background-color: white;
  border: solid black;
  width: 240px;
  height: 75px;
  font-size: 20px;
}

footer{font-size: 20px;} 

.cart-wrapper{
  gap: 90px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.redux-cart-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-cart{
  margin-top: 100px;
  height: 100px;
  width: 200px;
}

.pizza{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chicken{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.burger{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.icecream{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.items{
  height: 100px;
}